<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script
      src="http://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar-fixed scrollspy blue darken-1">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Breaking News</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
            <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Update</a>
          </li>
          <li>
            <a class="waves-effect waves-light btn"><i class="material-icons left">save</i>Saved Articles</a>
          </li>
        </ul>
        
      </div>
    </nav>
        
    {{{body}}}
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      

  </body>
</html>
